
.body {
    height: 100vh;
    font-family: 'Roboto';font-size: 22px;
}


.top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    padding: 10px;
}

.logo {
    font-weight: bold;
}


.menu {
    display: flex;
    flex-direction: row;
    gap:10px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #F9FAF8;

}

.intro {
    display: flex;
    align-items: center;
    background-color:  #1F2937;
    font-family: Roboto;
    padding:10px;
}

.hero {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    min-width: 60%;
}

.ow {
    flex: 1;
    max-width:40%;
}

.intro h1 {
    font-weight: 800;
    font-size:48px;
    color: #F9FAF8;
}


.intro p {
    font-size:18px;
    color: #e5e7eb;
    padding: 10px;
}

.intro a {
    text-decoration: none;
    background-color: #3882F6;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
}

.info {
    display: block;
    font-size: 36px;
    color: #1F2937;
    font-family: Roboto;
    text-align: center;
}

.showcase {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 10px;

}

.desc {
    max-width: 250px;
    font-family: Roboto;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.showcase img {
    height: 250px;
    width:250px;
    object-fit: cover;
    border-radius: 8px;
    border: solid 3px #3882F6;


}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-family: Roboto;
}

.testimonial .review {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}

.testimonial .cust {
    text-align: right;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    background-color: #1F2937;
    color: #F9FAF8;

}