
.body {
    height: 100vh;
    font-family: 'Roboto';font-size: 22px;
}


.top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    font-family: Roboto;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    padding:3px
}

.logo {
    font-weight: bold;
}


.menu {
    display: flex;
    flex-direction: row;
    gap:10px;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: #F9FAF8;

}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #1F2937;
    font-family: Roboto;
    padding-top: 10px;
    padding-bottom: 10px;
}



.intro h1 {
    font-weight: 800;
    font-size:48px;
    color: #F9FAF8;
}


.intro p {
    font-size:18px;
    color: #e5e7eb;
}

.intro a {
    text-decoration: none;
    background-color: #3882F6;
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
}

.intro img {
    width: 35%;
    height:35%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    font-family: Roboto;
    background-color: #1F2937;
    color: #F9FAF8;

}